<!-- IF S_TYPE == 1 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L_CONFIRMATION}</h3>
	<fieldset class="fields2">
<!-- ENDIF -->

	<dl>
	<dt><label for="confirm_code">{SIMPLEMATH_TEMPLATE}</label></dt>
	<dd>
		<input type="text" tabindex="{$CAPTCHA_TAB_INDEX}" name="confirm_code" id="confirm_code" size="45"  class="inputbox autowidth" title="{L_ANSWER}" />
		<input type="hidden" name="confirm_id" id="confirm_id" value="{CONFIRM_ID}" />
		<!-- IF S_CONFIRM_REFRESH --><input type="submit" name="refresh_vc" id="refresh_vc" class="button2" value="{L_VC_REFRESH}" /><!-- ENDIF -->
	</dd>
	</dl>

<!-- IF S_TYPE == 1 -->
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
