	<tr>
		<th colspan="2" valign="middle">{L_CONFIRM_CODE}</th>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{SIMPLEMATH_TEMPLATE}</b><br /><span class="gensmall">{L_SIMPLEMATH_EXPLAIN}</span></td>
		<td class="row2"><input class="post" type="text" name="confirm_code" size="8" maxlength="8" />
		<input type="hidden" name="confirm_id" id="confirm_id" value="{CONFIRM_ID}" />
		<!-- IF S_CONFIRM_REFRESH --><input type="submit" name="refresh_vc" id="refresh_vc" class="button2" value="{L_VC_REFRESH}" /><!-- ENDIF --></td>
	</tr>